nav.breadcrumb,
input,
.sync-log-summary,
.item .is-pulled-right,
div.columns.buttons,
.pin-toggle {
  display: none;
}

input {
  display: none !important;
}

.container {
  max-width: unset;
  width: unset;
}
.box {
  margin: unset;
}
